<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Main.css">
    <title>About</title>
</head>
<body>
    <header class="imagen">
        <img src="/static/img/fox.png" alt="logo">
    </header>
    <form class="caja">
        <h1>About</h1>
        <p>La pagina fue creada por Ortega Gutierrez Edwin, usando Python, MariaDB, HTML y CSS:
            usando algo de creatividad.
        </p>
        <div class="home">
            <a href="/">Volver al inicio</a>
        </div>
    </form>
</body>
</html>